
<div class="container">
	<h1 class="judul">Menu</h1>
	
		<button class="btn btn-success btnRefresh" ><i class="fa-solid fa-arrows-rotate"></i> Refresh</button>
	<button class="btn btn-primary btnAdd" ><i class="fa-solid fa-plus"></i> Add Menu</button>
	<input type="search" id="inMenuCari" placeholder="search">
	<table  class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>id</th>
				<th>Name</th>
				<th>Url</th>
				<th>Parent</th>
				<th>action</th>
			</tr>
		</thead>
		<tbody class="tb1">
		
		</tbody>
		
		</table>
</div>	
<!-- The Modal -->
<div class="modal" id="ModalMenu">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

     	
      <!-- Modal body -->
      <div class="isiModalMenu container">
        
      </div>
	
      

    </div>
  </div>

		
</div>		
</body>
<!-- 
		<script type="text/javascript" src="jquery-3.6.3.min.js"></script> -->

<script type="text/javascript" src="/menu/menu.js"></script>

