<link href="//cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css"
	rel="stylesheet">
<div class="container">
	<h1 class="judul">Atur Hak Akses</h1>
	<table>
		<tr>
			<td style="width: 45%"><input type="text"
				class="inAturHakAksesCari form-control" placeholder="Cari..."></td>
		</tr>
	</table>
	<br>
	<table style="width: 100%" class="table table-bordered table-hover atur">
		<thead>
			<tr>
				<td>id</td>
				<td>Nama</td>
				<td>Kode</td>
				<td>action</td>
			</tr>
		</thead>
		<tbody class='tb1'>
		</tbody>
	</table>
</div>
<!-- The Modal -->
<div class="modal" id="ModalAturHakakses">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">


			<!-- Modal body -->
			<div class="isiModalAturHakakses container"></div>



		</div>
	</div>


</div>
</body>
<!-- 
		<script type="text/javascript" src="jquery-3.6.3.min.js"></script> -->

<script type="text/javascript" src="/aturhakakses/aturhakakses.js"></script>
<script src="//cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>



