
<body>
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Atur Menu Akses</h4>
	</div>
	<div class="card">
		<div class="card-body">
			<div class="m-sm-4">
				<div>
					<table style="width: 100%">
						<thead>
							<tr>
								<td style="width: 50%">
									<input type='checkbox' class='sAksesmenu'name="selectall">Select All
								</td>
								<td>
									<input type="button" class="batal btn btn-secondary btn-sm" value="Batal">
								</td>
								<td>
									<input type="button" class="simpanmenu btn btn-primary btn-sm" value="Simpan">
								</td>
							</tr>
						</thead>
						<tbody>
							<tr class="">
								
							</tr>
							
						</tbody>
					</table>
					
					<div class="menurole"></div>
					
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/aturhakakses/aturhakakses.js"></script>