<div class="modal-header">
			        <h1 class="modal-title fs-3 text-primary p1 p5">Set Password</h1>
			        <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<div class= "container px-4">
<div class="mb-3">
			<label class="form-label" style="font-size:15px">Masukkan Password Kalian</label> 
</div>
<div class="">
			<b><label class="form-label" >	Password(*) :</label> </b>
			<input class="form-control form-control-lg" id="iPass1" type="text" name="password" placeholder="Enter your Password" /> 
			
			<b><label class="form-label" >	Ulang Password(*) :</label> </b>
			<input class="form-control form-control-lg" id="iPass2" type="text" name="password ulang" placeholder="re-Enter your Password" /> 
</div> 
<div class="input-group">

		<div id="passHelp" class="form-text p1" style="color:Tomato;">*Password tidak valid silahkan pengecekan huruf kecil, besar, angka, dan sepcial number </div>
		<div id="passemptyHelp" class="form-text p1" style="color:Tomato;">*Password Kosong</div>
		<div id="passwrongHelp" class="form-text p1" style="color:Tomato;">*Password tidak sesuai</div>
		<div id="pass2wrongHelp" class="form-text p1" style="color:Tomato;">*Password kedua tidak sesuai dengan password pertama</div>

</div>
<div class="modal-footer justify-content-center">
			 <input id="setPass" type="button" class="btn btn-primary" value="Set Password">
</div>
	
</div>
</div>
<!-- <script src="jquery-3.6.3.min.js"></script> -->
<script type="text/javascript" src="/pendaftaran/email.js"></script>
<!-- <script src="js/app.js"></script> -->
