<div class="container ">
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Edit Spesialisasi</h4>
		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
	</div>
	<div class="align-middle mt-3">
		<div class="col-12"></div>
		<div class="mb-4 row">
			<label for="inSpesialisasi" class="col-sm-4 col-form-label">Spesialisasi*</label>
			<!-- <input type="text" id="iSpesialis" class="form-control name"> -->
			<div class="col-sm-8">
				<select id="iSpesialis" class="form-control name">
					<option>--Pilih--</option>
				</select>
			</div>
			<sub class="pesan text-danger"> *Spesialisasi tidak boleh
				kosong!</sub>
		</div>
		
		<div class="mb-4 row ">
			<div class="col-sm-8 ">
				<button type="button" class=" btn btn-secondary btnKembali ">Kembali</button>
				<button type="button" class=" btn btn-primary btn-update ">Simpan</button>
			</div>
		</div>


	</div>
</div>

</body>
<!-- <script type="text/javascript" src="jquery-3.6.3.min.js"></script> -->
<script type="text/javascript" src="/profiledokter/editspesialisasi.js"></script>
<!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->

</html>