
<!-- Modal Header -->
<div class="container mt-3">
	<div class="card">
		<div class="modal-header">
			<h1 class="modal-title">Edit Level Lokasi</h1>
			<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		</div>

		<div class="card-body">
			<div class="m-sm-4">
				<form>
					<div class="mb-3">
						<label class="form-label">Nama</label> <input id="iName"
							class="form-control form-control-lg" type="text" name="name"
							placeholder="Masukan nama lokasi" />
					</div>
					<div class="mb-3">
						<label class="form-label">Nama Singkatan</label> <input id="iAbbr"
							class="form-control form-control-lg" type="text" name="company"
							placeholder="Masukan nama singkatan lokasi" />
					</div>
					<div>
						<button type="button" id="btnSimpanEdit" class="btn btn-lg btn-primary" >Simpan</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="lokasilevel/Editlokasilevel.js"></script>