<div class="modal-header">
			        <h1 class="modal-title fs-3 text-primary" id="staticBackdropLabel">Ubah Password</h1>
			        <button type="button" id="btnx" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			      
			      <div class="container px-4">
			      	  <div class="mb-3">
					    <p class="p1 text-muted">Masukkan pasword anda saat ini</p>
					  </div>
			      	  <div class="form-group">
			      	    <a class="p1 text-muted">Password</a>
			      	  </div>
			      	  <div class="col-12">
            			<div class="input-group mb-3">
              				<input type="password" class="form-control" id="ipswd">
              					<div class="input-group-append">
                					<span class="input-group-text">
                  					<i class="fa-solid fa-eye" id="show_eye"></i>
                  					<i class="fa-solid fa-eye-slash" id="hide_eye"></i>
                				</span>
              				</div>
              				 <div id="pswHelp" class="form-text p1" style="color:Tomato;">*Password harus minimal 8 karakter,harus mengandung huruf besar, huruf kecil, angka dan karakter)</div> 
					    <div id="pswemptyHelp" class="form-text p1" style="color:Tomato;">  *Password tidak boleh kosong </div>
            			</div>
          			   </div>
					   
					  <div class="form-group">
			      	    <a class="p1 text-muted">Masukkan ulang password</a>
			      	  </div>
					    <div class="col-12">
            			<div class="input-group mb-3">
              				<input type="password" class="form-control" id="irepswd">
              					<div class="input-group-append">
                					<span class="input-group-text">
                  					<i class="fa-solid fa-eye" id="show_eyere"></i>
                  					<i class="fa-solid fa-eye-slash" id="hide_eyere"></i>
                					</span>
              					</div>
            				</div>
            			<div id="pswreHelp" class="form-text p1" style="color:Tomato;">*Password tidak sama</div>
					    <div id="pswreemptyHelp" class="form-text p1" style="color:Tomato;">*Masukkan ulang password</div>		
          			   </div>
					   </div>
			      </div>
			      <div class="modal-footer justify-content-center">
			        <button type="button" class="btn btn-primary" id="btnacceptpsw">Set Password</button>
			      </div>
<!-- <script type="text/javascript" src="/jquery-3.6.3.min.js"></script>  -->
<script type="text/javascript" src="/profile/cekcurrentpas.js"></script>