				  <div class="modal-header">
			        <h1 class="modal-title fs-3 text-primary p1">Verifikasi E-mail</h1>
			        <button type="button" id="btnx" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			      <div class="container px-4">
			      	  <div class="mb-3">
					    <p class="p1 text-muted">Masukkan kode OTP yang telah dikirimkan ke email anda</p>
					  </div>
			      	  <div class="">
					    <input type="text" class="form-control text-center" id="iotp">
					    <div id="otpHelp" class="form-text p1" style="color:Tomato;">*Koda OTP salah</div>
					    <div id="otpspoilHelp" class="form-text p1" style="color:Tomato;">*Koda OTP kadaluarsa, silahkan kirim ulang OTP</div>
					    <a class="link-primary p2" id="returntoemailver">Gunakan email lain</a>
					  </div>
					  <div class="mb-3 text-center">
					    <p></p>
					    <p class="p1 text-muted " id="count"></p>
					    <button type="button" class="btn btn-outline-secondary" id="btnresendotp">Kirim ulang OTP</button>
					  </div>
			      </div>
			      </div>
			      <div class="modal-footer justify-content-center">
			        <button type="button" class="btn btn-primary" id="btnacceptotp">Konfirmasi OTP</button>
			      </div>
<!-- <script type="text/javascript" src="/jquery-3.6.3.min.js"></script>  -->
<script type="text/javascript" src="/profile/otp.js"></script>