<body>
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Profile</h4>
	</div>
	<div class="card">
		<div class="card-body">
			<div class="m-sm-4">
				<form>
					<div class="mb-3">
						<h4 class="form-label">
							Data Pribadi <input type="button" class="udatapribadi" value="ubah">
						</h4>
					</div>
					<div class="mb-3">
						<label class="form-label">Nama Lengkap</label> <input class="form-control form-control-lg"
							type="text" id="inamalengkap">
					</div>
					<div class="mb-3">
						<label class="form-label">Tanggal Lahir</label> <input class="form-control form-control-lg"
							type="text" id="itanggallahir">
					</div>
					<div class="mb-3">
						<label class="form-label">Nomor Handphone</label> <input class="form-control form-control-lg"
							type="text" id="inomorhp" placeholder="Cari Kecamatan/ Kota">
					</div>
					<div class="mb-3">
						<h4 class="form-label">Data Akun</h4>
					</div>
					<div class="mb-3">
						<label class="form-label">Email</label>
						<input type="button" class="uemail" value="ubah">
						<input class="form-control form-control-lg" type="text" id="iemail">
					</div>
					<div class="mb-3">
						<label class="form-label">Password</label>
						<input type="button" class="upassword" value="ubah">
						<input class="form-control form-control-lg" type="password" id="ipassword">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- The Modal -->
	<div class="modal" id="ModalProfile">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">


				<!-- Modal body -->
				<div class="isiModalProfile container">

				</div>



			</div>
		</div>


	</div>

	<div class="modal fade" id="modalemail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="content modal-content">

			</div>
		</div>
	</div>

	<div class="modal fade" id="modalotp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="content2 modal-content">

			</div>
		</div>
	</div>

	<div class="modal fade" id="modalpassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="content3 modal-content">

			</div>
		</div>
	</div>
	<div class="modal fade" id="modalpassword2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="content4 modal-content">

			</div>
		</div>
	</div>

</body>
<script type="text/javascript" src="/profile/profile2.js"></script>

</html>