<div class="modal-header">
			        <h1 class="modal-title fs-3 text-primary p1 p5">Ubah Password</h1>
			        <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
<div class= "container px-4">
	<div class="mb-3">
				<label class="form-label" style="font-size:15px">Masukkan Password baru</label> 
	</div>
	<div class="form-group">
		<a class="p1 text-muted">	Password(*) :</a>
	</div>
		<div class ="col-12">
			<div class="input-group mb-3">
				<input class="form-control form-control-lg" id="iPass1" type="password" name="password" placeholder="Enter your Password" /> &nbsp; 
				<div class="input-group-append">
					<span class="input-group-text">
                  	<i class="fa-solid fa-eye" id="show_eye1"></i>
                  	<i class="fa-solid fa-eye-slash" id="hide_eye1"></i>
               		 </span>
				</div>
				<div class="input-group">
					<div id="passHelp" class="form-text p1" style="color:Tomato;">*Password tidak valid silahkan pengecekan huruf kecil, besar, angka, dan special number </div>
					<div id="passHelp2" class="form-text p1" style="color:Tomato;">*Password Kosong</div>
				</div>
			</div>
		</div>
	<div class="form-group">
		<a class="p1 text-muted">Re-Enter Password(*) :</a>
	</div>
	<div class ="col-12">
			<div class="input-group mb-3">
				<input class="form-control form-control-lg" id="iPass2" type="password" name="password ulang" placeholder="re-Enter your Password" />&nbsp; 
					<div class="input-group-append">
					<span class="input-group-text">
                  	<i class="fa-solid fa-eye" id="show_eyes1"></i>
                  	<i class="fa-solid fa-eye-slash" id="hide_eyes1"></i>
               		 </span>
				</div>
					<div class="input-group">
						<div id="passwrong2Help" class="form-text p1" style="color:Tomato;">*Password tidak sesuai/tidak terisi</div>
						<div id="pass2wrongHelp" class="form-text p1" style="color:Tomato;">*Password kedua tidak sesuai dengan password pertama</div>
						<div id="pass2wrongHelp3" class="form-text p1" style="color:Tomato;">*Password yang didaftarkan sama</div>
						
					</div>
					
			</div>
	</div>
		

			
<div class="modal-footer justify-content-center">
	<input id="setPass" type="button" class="btn btn-primary" value="Set Password">
</div>
	
</div>
</div>


<!-- <script src="jquery-3.6.3.min.js"></script> -->
<script type="text/javascript" src="/profile/updatepassword.js"></script>
<!-- <script src="js/app.js"></script> -->
