<div class="modal-header">
	<h1 class="modal-title fs-3 text-primary p1 p5">Ubah Email</h1>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
	<div class="container px-4">
		<div class="mb-3">
			<label class="form-label" style="font-size:15px">Masukkan email anda kami akan melakukan pengecekan</label>
		</div>
		<div class="">
			<b><label class="form-label">Email*</label> </b>
			<input class="form-control form-control-lg" id="formEmail" type="email" name="email"
				placeholder="Enter your email" />
		</div>
		<div class="input-group">
			<div id="emailHelp" class="form-text p1" style="color:Tomato;">*Email telah terdaftar</div>
			<div id="emailemptyHelp" class="form-text p1" style="color:Tomato;">*Masukkan email anda</div>
			<div id="emailwrongHelp" class="form-text p1" style="color:Tomato;">*Email tidak sesuai</div>

		</div>
	</div>
	<div class="modal-footer justify-content-center">
		<input id="btnemail" type="button" class="btn btn-primary" value="kirim otp">
	</div>

	<!-- <script src="jquery-3.6.3.min.js"></script> -->

</div>
<script type="text/javascript" src="profile/updateemail.js"></script>
<!-- <script src="js/app.js"></script> -->