
<div class="container ">
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Update Data Pribadi</h4>
		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
	</div>
	<div class="align-middle mt-3">

		<div class="mb-4 row">
			<label for="init" class="col-sm-4 col-form-label">Nama
				Lengkap</label>
			<div class="col-sm-8">
				<input type="text" class="form-control inamalengkap">
			</div>
			<div id="namaHelp" class="form-text p1" style="color:Tomato;">*nama tidak boleh kosong</div>
		</div>
		<div class="mb-4 row">
			<label for="date" class="col-sm-4 col-form-label">Tanggal
				Lahir</label>
			<div class="col-sm-8">
				<div class="input-group date" id="datepicker">
					<input type="date" class="form-control itanggallahir" id="date" /> <span
						class="input-group-append"> <!-- <span
						class="input-group-text bg-light d-block"> <i
							class="fa fa-calendar"></i>
					</span> -->
					</span>
				</div>
			</div>
			<!-- <div class="col-sm-8">
				<input type="text" class="form-control datepicker itanggallahir">
			</div> -->
		</div>
		<div class="mb-4 row">
			<label for="init" class="col-sm-4 col-form-label">Nomor
				Handphone</label>
			<div class="col-sm-8">
				<input type="text" class="form-control inomorhp">
			</div>
			<div id="nohpHelp" class="form-text p1" style="color:Tomato;">*nomor telepon tidak boleh kosong</div>
		</div>

		<div class="mb-4 row ">
			<div class="col-sm-8 text-center">

				<button type="button" class=" btn btn-primary bt-update ">Simpan</button>
			</div>
		</div>


	</div>
</div>

</body>
<!-- <script type="text/javascript" src="jquery-3.6.3.min.js"></script> -->
<script type="text/javascript">

</script>
<script type="text/javascript" src="/profile/updatedatapribadi.js"></script>
<!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->

</html>