<div class="container ">
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Order Detail</h4>
		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
	</div>

	<table class="table table-bordered table-hover " style="text-align: center;">
		<thead>
			<tr>
				<th>Banyaknya</th>
				<th>Nama Barang</th>
				<th>Harga Satuan</th>
				<th>Jumlah</th>
			</tr>
		</thead>
		<tbody class="tb2">

		</tbody>

	</table>
</div>
</body>

</html>
<script type="text/javascript" src="/cetakbyid.js"></script>