
<div class="modal-header">
        <h4 class="modal-title">Delete Bank</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
<div class="container mt-3">

	<table class="table table-sm align-middle">
	
		<tr id="iName">
		
			
		</tr>
	
		<tr>
			<td> <input id="delete" type="button"  class="btn btn-danger"  value="save">
			<input type="button" class="btn btn-primary" onClick="window.location.reload()" value="kembali" id="tkembali"> </td>
		</tr>
	</table>
	  
</div>


<script type="text/javascript" src="/bank/delete.js"></script>
